*
{
 
   padding: 0px;
   margin: 0px;
   box-sizing: content-box;
   

  
}
body
{ background-image: url("./assets/cafe.avif");
    background-size: cover; /* Escala la imagen para cubrir toda la pantalla   600px*/
    background-repeat: no-repeat;
    background-position: center; /* Centra la imagen */
   background-attachment: fixed;  /* Permite que la imagen se mantenga fija al hacer scroll */
   height: 100vh;
}
/* HEADAR */

header
{   display: flex;
    flex-direction: row-reverse;
    color: white;
}
.btn-menu
{
    border: none;
    color: white;
    font-size: 1.5rem;
    background-color: rgb(0, 0, 0,0);
    margin-right:1.5rem;

}
/* MAIN */

main
{   
    
    color: white;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem; 
    padding-bottom: 5rem;
   

}
.nombre
{
    
    font-weight: bold;
}
.img-perfil
{
    width: 200px;
    border-radius: 50%;
}

.btn-enlaces-main {
    background-color: white;
    color: black;
    width: 40%;
    height: 60px;
    border-radius: 25px;
    font-weight: 800;
    transition: background-color 0.3s ease;
}
.btn-enlaces-main:hover
{
    background-color: rgb(0, 0, 0,0);
    border: 1px solid white;
    color: white;
}


/* footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    color: white;
    
}

.redes a {
    color: white;
    margin: 0 10px;
    transition: color 0.3s;
}

.redes a:hover {
    color: #0077b5; /* Cambia a un color de tu elección al pasar el mouse */
}

svg {
    width: 30px;
    height: 30px;
    fill: currentColor;
}

/* 


POPUP





*/



/* Estilo del popup oculto por defecto */
.popup {
    position: fixed;
    bottom: -100%; /* Oculto inicialmente fuera de la pantalla */
   
    width: 50%;
    height: 90%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    opacity: 0;
    transition: bottom 0.5s ease, opacity 0.5s ease;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    color: black;
    gap: 30px;
    padding-top: 1rem;
   padding-bottom: 5px;
}




/* Mostrar el popup */
.popup.show {
    bottom: 5%; /* Aparece desde la parte inferior */
    opacity: 1;
}

/* Estilo del botón de cerrar */
.popup .btn-cerrar{
    background-color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    width: max-content;
    border: none;
    font-weight: 500;
    border-radius: 8px;
   
}
/* NO scroll en el main principal cuando se abra el div */
.no-scroll {
    overflow: hidden;
}

.popup .btn-cerrar:hover
{
    background-color: #F3F3F1;
    border-radius: 8px;
  
}

/* imagen del div */
#img-project
{
    width: 450px;
    border-radius: 15px;
}









/* Media query para pantallas celular*/
@media (max-width: 450px) {
    .btn-enlaces-main {
        width: 80%; /* Ajusta el ancho a un 80% de la pantalla */
        height: 50px; /* Ajusta la altura para pantallas pequeñas */
    }
    .popup {
        width: 100%;
    }
    #img-project
    {
        width: 250px;
    }
}

 /* Estilos para otros */
 @media (min-width: 451px) and (max-width: 599px) {
    

   
    .btn-enlaces-main {
        width: 80%; /* Ajusta el ancho a un 80% de la pantalla */
        height: 50px; /* Ajusta la altura para pantallas pequeñas */
    }
    .popup {
        width: 85%;
    }
    #img-project
    {
        width: 250px;
    }
}

 /* Estilos para cualquier tablet */
 @media (min-width: 600px) and (max-width: 1024px) {
    

   
    .btn-enlaces-main {
        width: 80%; /* Ajusta el ancho a un 80% de la pantalla */
        height: 50px; /* Ajusta la altura para pantallas pequeñas */
    }
    .popup {
        width: 80%;
    }
    #img-project
    {
        width: 250px;
    }
}









/* contenedor puntos */
.contenedor-puntos
{
    display: flex;
    justify-content: center;
    gap: 20px;
}
/* puntos señalizadores de cambio de imagen */
#punto2,#punto3,#punto1
{
    height: 10px;
    width: 10px;
    
    border-radius: 50%;
    border: 1px solid black;
}
/* carrousel contenedor */
.carrosel
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}
#boton-izquierda-carrosel,#boton-derecha-carrosel
{   background-color: white;
    width: 30px;
    height: 30px;
    border: none;
    font-weight: 700;
    border-radius: 8px;
}
#boton-izquierda-carrosel:hover
{
    background-color: #F3F3F1;
    border-radius: 8px;
  
}
#boton-derecha-carrosel:hover
{
    background-color: #F3F3F1;
    border-radius: 8px;
  
}
#btn-comunitario,#btn-linktree,#btn-instrument
{
    background-color: black;
    color: white;
    width: 80%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 25px;
    font-weight: 800;
    transition: background-color 0.3s ease;
}
#btn-instrument:hover
{
    background-color: rgb(0, 0, 0,0);
    border: 1px solid black;
    color: black;
}
#btn-comunitario:hover
{
    background-color: rgb(0, 0, 0,0);
    border: 1px solid black;
    color: black;
}
#btn-linktree:hover
{
    background-color: rgb(0, 0, 0,0);
    border: 1px solid black;
    color: black;
} 